<div class="jumbotron text-center">
  <h1>Bootstrap Demo Bilder</h1>
</div>

  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <img src="/assets/snow.jpg" class="img-fluid rounded" width="250" height="250" alt="Snowboarder">
      </div>
      <div class="col-sm-3">
        <img src="/assets/snow.jpg" class="img-fluid rounded" width="250" height="250" alt="Snowboarder">
      </div>
      <div class="col-sm-3">
        <img src="/assets/snow.jpg" class="img-fluid rounded" width="250" height="250" alt="Snowboarder">
      </div>
      <div class="col-sm-3">
        <img src="/assets/snow.jpg" class="img-fluid rounded" width="250" height="250" alt="Snowboarder">
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3">
        <img src="/assets/snow.jpg" class="img-fluid rounded" width="250" height="250" alt="Snowboarder">
      </div>
      <div class="col-sm-3">
        <img src="/assets/snow.jpg" class="img-fluid rounded" width="250" height="250" alt="Snowboarder">
      </div>
      <div class="col-sm-3">
        <img src="/assets/snow.jpg" class="img-fluid rounded" width="250" height="250" alt="Snowboarder">
      </div>
      <div class="col-sm-3">
        <img src="/assets/snow.jpg" class="img-fluid rounded" width="250" height="250" alt="Snowboarder">
      </div>
    </div>
  </div>
