<div class="jumbotron text-center">
  <h1>Bootstrap Demo Formulare & Buttons</h1>
</div>

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-8">
      <h2>Formular mit Inputfeldern und Buttons</h2>
      <form name="form1" method="post" action="/pages/success">
        <div class="form-group">
          <input type="text" class="form-control" name="email" placeholder="Email">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" name="passwort" placeholder="Password">
        </div>
        <div class="form-group">
          <label for="usr">Text</label>
          <textarea class="form-control" name="text" rows="3"></textarea>
        </div>
        <div class="form-check-inline">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" name="chk1" value="ok">Option 1
          </label>
        </div>
        <div class="form-check-inline">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" name="chk2" value="ok">Option 2
          </label>
        </div>
        <div class="form-check-inline">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" name="chk3" value="ok">Option 3
          </label>
        </div>
        <br />
        <div class="form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="optradio" value"Option 1">Option 1
          </label>
        </div>
        <div class="form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="optradio" value"Option 2">Option 2
          </label>
        </div>
        <div class="form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="optradio" value"Option 3">Option 3
          </label>
        </div>
        <div class="form-group">
          <label for="sel1">Auswahlliste</label>
          <select class="form-control" name="list">
            <option value="Eintrag 1">Eintrag 1</option>
            <option value="Eintrag 2">Eintrag 2</option>
            <option value="Eintrag 3">Eintrag 3</option>
            <option value="Eintrag 4">Eintrag 4</option>
          </select>
        </div>
        <div>
          <a href="/" class="btn btn-primary">Home</a>
          <a href="/pages/texte" class="btn btn-secondary">Texte & Tabellen</a>
          <a href="/pages/bilder" class="btn btn-warning">Bilder</a>
          <a href="/pages/formulare" class="btn btn-info">Formular & Buttons</a>
          <button class="btn btn-success" type="submit">Senden</button>
          <button class="btn btn-danger" type="reset">Zurücksetzen</button>
      </form>
    </div>
  </div>
</div>